.button {
  align-items: center;
  display: flex;

  .feather {
    margin-right: $space-small;
  }

  &.hollow {
    &.link {
      border-color: transparent;
      padding-left: 0;

      &:hover,
      &:focus {
        border-color: transparent;
      }
    }
  }

  >.icon {
    font-size: $font-size-default;
  }

  &.tiny {
    font-size: $font-size-mini;
    padding: $space-small $space-slab;
  }

  &.round {
    border-radius: $space-larger;
  }
}

.button--fixed-right-top {
  align-items: center;
  display: flex;
  position: fixed;
  right: $space-small;
  top: $space-small;
}
